Repository OriginTrail/OT-RFC-repository, pull requests merged in 2023-10, with the labels that each got.

#33 RFC-17-GNOSIS_CHAIN_integration
  RFCs/OT-RFC-17-OriginTrail-integration-with-EVM-compatible-blockchains/chains/integration-requests/GNOSIS_CHAIN.json
Labels: blockchain-integration

#36 OT-RFC-19 - Incentivising Trusted Knowledge Infrastructure: OriginTrail Parachain Collators Framework
  RFCs/OT-RFC-19-Incentivising-Trusted-Knowledge-Infrastructure/OT-RFC-19 Incentivising Trusted Knowledge Infrastructure_ OriginTrail Parachain Collators Framework.pdf
  RFCs/OT-RFC-19-Incentivising-Trusted-Knowledge-Infrastructure/README.md
Labels: RFC

#38 Annex to RFC-16
  RFCs/OT-RFC-16-Parachain-Bridges-Implementation/OT-RFC-16-Parachain-Bridges-Implementation.pdf
  RFCs/OT-RFC-16-Parachain-Bridges-Implementation/README.md
  RFCs/OT-RFC-16-Parachain-Bridges-Implementation/images/diagram.png
Labels: enhancement
